{% extends 'admin/index.html.twig' %}

{% block title %}New Provider{% endblock %}

{% block body %}
  
    {{ include('provider/_form.html.twig') }}

    <a href="{{ path('provider_index') }}">back to list</a>
{% endblock %}
